/* MAIN BLOCKS */

body {
    color: #5f5352;
    font-family: Garamond, Cambria, 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 130%;
}

header {
    box-shadow: 6px 2px 40px rgba(51,53,55,0.4);
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #ffffff;
    min-height: 195px;
    text-align: center;
    padding-top: 105px;
}

aside {
    background: #aea8a8;
    color: #ffffff;
    text-align: center;
}

nav {
    margin-top: 70px;
}

main {
    width: 1200px;
    margin: 0 auto;
}

article {
    margin: 0 auto;
    margin-bottom: 50px;
}

footer {
    text-align: center;
    padding-top: 45px;
}

/* ELEMENTEN */

h1 {
    font-size: 6rem;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 40px;
    font-size: 2.4rem;
}

h3 {
    font-size: 2.2rem;
    margin-top: 0.3rem;
    text-transform: uppercase;
    background: #e3eee9;
    padding-top: 7px;
    padding-bottom: 7px;
    border-top: solid 1px #5f5352;
}

h4 {
    text-transform: uppercase;
    font-size: 2.3rem;
    margin-bottom: 35px;
    margin-top: 30px;
}

h5 {
    background: url(../images/swirl.png) no-repeat;
    background-size: 100%;
    font-size: 2rem;
    height: 130px;
    vertical-align: center;
    padding-top: 45px;
    margin: 0 auto;
}

h6 {
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
}

a {
    color: #54b785;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

strong {
    font-weight: bold;
    display: inline;
}

img {
    box-shadow: 6px 8px 20px rgba(51,53,55,0.17);
}

/* SUBELEMENTEN */

header p {
    margin: 0 auto;
    width: 650px;
    font-size: 1.4em;
    margin-top: 40px;
    background-image: url(../images/line.gif), url(../images/line.gif);
    background-repeat: no-repeat;
    background-position: 0 10px, 550px 10px;
}

nav li {
    display: inline-block;
    margin-left: 9px;
}

nav li:after {
    margin-left: 9px;
    content: " |";
}

nav li:last-child:after {
    content: none;
}

nav li a {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

nav li:first-child:before {
    content: none;
}

.menublock ul li:first-child {
    font-size: 1.8rem;
}

.menublock ul {
    height: 100px;
}

footer li {
    line-height: 140%;
}

article:nth-child(even) * {
    margin-left: 45px;
    float: left;
    max-width: 615px;
}

article:nth-child(even) img {
    margin-left: 40px;
}

article:nth-child(odd) * {
    margin-left: 40px;
    float: left;
    max-width: 615px;
}

article:nth-child(odd) img {
    float: right;
    margin-left: 40px;
}

.cf:after, .cf:before {
    content: " ";
    display: table;
}

.cf:after {
    clear:both;
}

/* CLASSES */

.footblock {
    display: block;
    float:left;
    width: 250px;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 40px;
}

.footblock:first-child {
    margin-left: 200px;
}

.menublock {
    width: 350px;
    display: block;
    float: left;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 45px;
}

.menublock:first-child {
    margin-left: auto;
}

.menublock:last-child {
    margin-right: auto;
}

.award {
    font-size: 0.7rem;
    position: absolute;
    background: url("../images/wreath.png");
    height: 76px;
    width: 94px;
    margin-left: 1100px;
    top: 1150px;
    color: #d0ce13;
}

.fb, .tt, .mail {
    padding-left: 30px;
    background-size: auto 70px;
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;

}

.fb {
    background-position-y: -5px;
}

.tt {
    background-position-y: -25px;
}

.mail {
    background-position-y: -45px;
}
